.LoginForm {
    display: flex;
    flex-direction: column;
}

.input {
    margin-top: 10px;
}

input::placeholder {
    width: fit-content;
}

.loginBtn {
    margin-top: 15px;
    margin-left: auto;
}
