.Code {
    border: 1px solid var(--primary-color);
    padding: 20px;
    position: relative;
    background: var(--code-bg);
    overflow: auto;
}

.CodeRedesigned {
    padding: 20px;
    position: relative;
    background: var(--light-bg-redesigned);
    overflow: auto;
    white-space: pre;
    width: 100%;
}

.copyBtn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.copyIcon path {
    stroke: var(--primary-color);
}
