.BurgerMenu {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    transform: translate(-100%);
    transition: all 0.2s ease-in-out;
}

.menuList {
    width: 80vw;
    height: 100vh;
    padding: 10px;
    align-self: start;
    background: var(--light-bg-redesigned);
}

.btn {
    align-self: start;
}

.collapsed {
    transform: translate(0);
    transition: all 0.2s ease-in-out;
}

.logoWrapper {
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 3px;
}

.logo {
    color: var(--icon-redesigned);
    align-self: center;
    display: flex;
}
