.ArticleDetailPage {
    min-height: 100%;
}

.commentTitle {
    margin-top: 20px;
}

.recommendations {
    margin-top: 20px;
    padding-bottom: 20px;
    flex-wrap: nowrap;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
