.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: end;
}

.actions {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.textLink {
    width: var(--sidebar-width);
    margin-left: 15px;
}
