.logo-container {
    z-index: 0;
    width: 380px;
    height: 595px;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
    }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        z-index: 1;
    }
}

.svg-container {
    stroke: var(--accent-redesigned);
    stroke-width: 10;
    stroke-dasharray: 97203;
    stroke-dashoffset: 97203;
    animation-name: my-logo;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes my-logo {
    100% {
        stroke: var(--accent-redesigned);
        stroke-dashoffset: 0;
    }
}

@media (max-width: 768px) {
    .logo-container {
        width: 45%;
        height: 60%;
    }
}
