.Page {
    flex-grow: 1;
    padding: 20px 20px 20px 45px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    width: 100%;
    flex-shrink: 100;
}

.PageRedesigned {
    overflow-y: hidden;
    height: 100%;
}

.trigger {
    margin-top: 10px;
    height: 16px;
}
