.app_lilac_theme {
    --bg-color: #7566c1;
    --inverted-bg-color: #bdffff;
    --primary-color: #bdffff;
    --secondary-color: #7566c1;
    --inverted-primary-color: #fb31e0;
    --inverted-secondary-color: #f5f4fb;
}
