.NavbarRedesigned {
    padding: 8px;
    //background-color: rgba(0, 0, 0, 0.3);
    position: sticky;
}

.actions {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.textLink {
    width: var(--sidebar-width);
    margin-left: 15px;
}

.mobile {
    display: flex;
    justify-content: space-between;
}

.lang {
    display: flex;
    font-weight: bold;
    color: var(--accent-redesigned);
    background: var(--light-bg-redesigned);
    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
}
