.home-page {
    overflow: hidden;
    position: relative;
    justify-content: center;
    height: 100%;
    z-index: 1;
}

.letters {
    color: var(--text-redesigned);
    font-size: 4rem;
    line-height: 3rem;
    margin: 0;
    font-family: Coolvetica, fantasy;
    font-weight: 500;
}

.footerSign {
    color: var(--text-redesigned);
    letter-spacing: 3px;
    animation-duration: 1s;
    animation-delay: 1.8s;
    animation-fill-mode: backwards;
    z-index: 1;

    &:global {
        animation-name: fadeIn;
    }
}

.flat-button {
    color: var(--text-redesigned);
    letter-spacing: 4px;
    border: 1px solid var(--accent-redesigned);
    animation-duration: 1s;
    animation-delay: 1.7s;
    animation-fill-mode: backwards;
    border-radius: 0;
    z-index: 1;

    &:global {
        animation-name: fadeIn;
    }

    &:hover {
        background: var(--light-bg-redesigned);
        color: var(--text-redesigned);
    }
}

.text-zone {
    margin-left: 55px;
    z-index: 1;
}

.img {
    margin-left: 20px;
    width: 66px;
    height: auto;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: 1;

    &:global {
        animation-name: rotateIn;
    }

    &:hover {
        &:global {
            animation-name: rubberBand;
        }

        animation-delay: 0s;
    }
}

.tags {
    font-family: var(--font-family-tags);
    opacity: 0.7;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    z-index: 1;

    &:global {
        animation-name: fadeIn;
    }
}

.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
}

.text-animate-hover:hover {
    &:global {
        animation-name: rubberBand;
    }

    animation-duration: 1s;
    color: var(--accent-redesigned);
}

@media (max-width: 768px) {
    .letters {
        font-size: 3rem;
        line-height: 2rem;
    }
}
