.Card {
    padding: 15px;
}

.normal {
    background: var(--dark-bg-redesigned);
}

.outline {
    border: 1px solid var(--accent-redesigned);
}

.light {
    background: var(--light-bg-redesigned);
}

.standard {
    border-radius: 12px;
}

.rounded {
    border-radius: 40px;
}

.max {
    width: 100%;
}

.gap_0 {
    padding: 0;
}

.gap_8 {
    padding: 8px;
}

.gap_16 {
    padding: 16px;
}

.gap_24 {
    padding: 24px;
}

.gap_32 {
    padding: 32px;
}
