.letters {
    color: var(--text-redesigned);
    font-size: 4rem;
    line-height: 3rem;
    margin: 0;
    font-family: Coolvetica, fantasy;
    font-weight: 500;
}

.sertificate {
    width: 100%;
}

@media (max-width: 850px) {
    .sertificate {
        width: 150px;
    }

    .letters {
        font-size: 3rem;
        line-height: 2rem;
    }
}
